@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

:root {
  --var-orange: hsl(25, 97%, 53%);

  --clr-white: hsl(0, 0%, 100%);
  --clr-light-grey: hsl(217, 12%, 63%);
  --clr-medium-grey: hsl(216, 12%, 54%);
  --clr-dark-blue: hsl(213, 19%, 18%);
  --clr-very-dark-blue: hsl(216, 12%, 8%);
  --clr-custom: #262f38;
  --clr-customtwo: #1c232d;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */

/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
    8. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Overpass", sans-serif;
  font-size: 15px;
  background-color: var(--clr-very-dark-blue);
}

p,
button {
  color: var(--clr-medium-grey);
}

main {
  display: grid;
  place-content: center;
  height: 100vh;
}

.survey__container {
  padding: 1.5rem;
  background-color: var(--clr-customtwo);
  max-width: 345px;
  border-radius: 1.5rem;
}

.star__icon {
  border-radius: 50%;
  padding: 0.9rem;
  background-color: var(--clr-custom);
}

.survey__title {
  color: var(--clr-white);
  margin: 1rem 0;
}

ol {
  list-style: none;
  display: flex;
  margin: 1.5rem 0;
  padding: 0;
  justify-content: space-between;
}

ol button {
  width: 50px; 
  height: 50px; 
  padding: 3px; 
  border-radius: 50%;
  background-color: var(--clr-custom);
  
}


.submit__btn {
  width: 100%;
  border-radius: 1.25rem;
  border-style: none;
  background-color: var(--var-orange);
  color: var(--clr-white);
  padding: 0.5rem 0;
  text-transform: uppercase;
  letter-spacing: 0.12rem;
}

/* Thank You Message */

.thank-you__container{
  padding: 2.5rem;
  background-color: var(--clr-customtwo);
  width: 420px;
  border-radius: 1.75rem;
  text-align: center;
}

.thank-you__image{
  margin: 0 auto;
  margin-top: 1.5rem;
}

.thank-you__result{
  display: inline-block;
  color: var(--var-orange);
  background-color: var(--clr-custom);
  padding: 0.3rem 1rem 0.15rem 1rem;
  border-radius: 2rem;
  margin: 1.5rem 0;
}

.thank-you__title{
  color: var(--clr-white);
  margin-bottom: 0.5rem;
}

.thank-you__description{
  color: var(--clr-medium-grey);
}


/* Hidden */
.hidden{
  display: none;
}

/* Hover States */
.submit__btn:hover{
  background-color: var(--clr-white);
  color: var(--var-orange);
  cursor: pointer;
  transition: all 200ms ease-in;
}

ol button:hover{
  cursor: pointer;
  background-color: var(--var-orange);
  color: var(--clr-white);
}

ol button:focus{
  background-color: var(--clr-light-grey);
  color: var(--clr-white);
}

/* Media Query for Larger Screens Survey*/

@media (min-width: 520px){
  .survey__container {
    max-width: 400px;
  }

  ol button {
    border: 13px solid transparent;
  }

}

/* Media Query for Smaller Screens Thank you Message */
@media (max-width: 465px){
  .thank-you__container{
    padding: 1.25rem;
    width: 330px;
  }

  .thank-you__description{
    margin-bottom: 0.5rem;
  }
}